.app{   
    .image-container{
        background-color: #f5f8fa;
        border-radius: 5px;
        border: solid #293742 1px;
    }
}

button{
    outline:none !important;
  }
  select{
    outline:none !important;
  }
button::-moz-focus-inner {
    border: 0 !important;
  }

  .c-card{
    width: 100%;
    background-color: #394b59;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: solid #293742 1px;
}