@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import 'bootstrap/dist/css/bootstrap.min.css';

body{
  background-color: #30404d !important; 
}

label{
  margin: 0px !important;
}

.i-group{
  padding-top: 10px;
  padding-bottom: 10px;
}

.sc-gsTCUz{
  width: 100%;
}
